<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');
/* Global Styles */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --accent-color: #e74c3c;
    --text-color: #333;
    --bg-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Poppins;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color:var(--bg-color) ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;*
    height: 12%;
    display: grid;
}

nav {
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem;
    grid-template-columns: 1;
}

.logo {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bolder;
    transition: color 0.3s ease;

}

.nav-links a:hover {
    color: var(--primary-color);
}

.menu-icon {
    display: none;
    cursor: pointer;
}
/* Main Section */
main {
    padding: 4rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

main p {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

//* Filter Buttons */
.filter-container {
    display: flex;
    text-align: center;
    margin: 2rem;
    gap: 7px;
    flex-wrap: wrap; /* Allow buttons to wrap if necessary */
}

.filter-btn {
    padding: 0.5rem 1rem;
    margin: 0 20px; /* Keep horizontal margins */
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #2b7aad;
}

/* Media Queries */
@media (max-width: 768px) {
    .filter-container {
        justify-content: center; /* Center the buttons */
    }
}


#projects {
    padding: 20px;
    margin: 20px;
}


/* Project Gallery Grid */

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
}
.project-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 25px;
}
.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-card h3 {
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
}
.project-card:hover img {
    transform: scale(1.1);
}
.project-card p {
    margin: 0.5rem;
    font-family: 'Roboto', Poppins;
}

/* Footer */
footer {
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer h3 {
    color: var(--primary-color);
}

footer .social-icons {
    margin: 1rem 0;
}

footer .social-icons a {
    margin: 0 10px;
    color: var(--primary-color);
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 2rem;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }

    h1 {
        font-size: 2rem;
    }
 
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
    .filter-container {
        flex-direction: column;
    }

    .filter-btn {
        margin: 10px 0; /* Stack filter buttons */
    }
}

@media (max-width: 576px) {
    .project-grid {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        color: var(--primary-color);
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');
/* Global Styles */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --accent-color: #e74c3c;
    --text-color: #333;
    --bg-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Poppins;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color:var(--bg-color) ;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;*
    height: 12%;
    display: grid;
}

nav {
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem;
    grid-template-columns: 1;
}

.logo {
    font-size: 3rem;
    font-weight: bolder;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bolder;
    transition: color 0.3s ease;

}

.nav-links a:hover {
    color: var(--primary-color);
}

.menu-icon {
    display: none;
    cursor: pointer;
}
/* Main Section */
main {
    padding: 4rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

main p {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

//* Filter Buttons */
.filter-container {
    display: flex;
    text-align: center;
    margin: 2rem;
    gap: 7px;
    flex-wrap: wrap; /* Allow buttons to wrap if necessary */
}

.filter-btn {
    padding: 0.5rem 1rem;
    margin: 0 20px; /* Keep horizontal margins */
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #2b7aad;
}

/* Media Queries */
@media (max-width: 768px) {
    .filter-container {
        justify-content: center; /* Center the buttons */
    }
}


#projects {
    padding: 20px;
    margin: 20px;
}


/* Project Gallery Grid */

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
}
.project-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 25px;
}
.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.project-card h3 {
    font-size: 1rem;
    color: var(--primary-color);
    text-align: center;
}
.project-card:hover img {
    transform: scale(1.1);
}
.project-card p {
    margin: 0.5rem;
    font-family: 'Roboto', Poppins;
}

/* Footer */
footer {
    background-color: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer h3 {
    color: var(--primary-color);
}

footer .social-icons {
    margin: 1rem 0;
}

footer .social-icons a {
    margin: 0 10px;
    color: var(--primary-color);
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    main {
        padding: 2rem;
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }

    h1 {
        font-size: 2rem;
    }
 
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
    .filter-container {
        flex-direction: column;
    }

    .filter-btn {
        margin: 10px 0; /* Stack filter buttons */
    }
}

@media (max-width: 576px) {
    .project-grid {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        color: var(--primary-color);
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}
>>>>>>> 32e23e92b040b9557ebbc38b6f0540cbc7c47ed0
