h1{
    text-align: center;
}

main{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

img{
    width: 100px;
    height: auto;
    background: wheat ;
    animation: fade 15s;
    object-fit: cover;
    aspect-ratio: 1/1;
   
}

@keyframes fade {
    0% {
     opacity: 0;
    }   

    100%{
        opacity: 1;
    }
}

footer{
    text-align: center;
}