@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto';
    margin-left:500px;
    margin-right: 200px;
    margin-top: auto;
    padding: 10px;
    background-color: #f0f0f0;
    width: 900px;

    
}
header {
    display: flex;
    flex-direction: column;
    background-color: #1e4e6d;
    color: #ffd700;
    text-align: center;
    padding-top: 10px;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
    
}
.nav-list a {
    color: white;
    text-decoration: none;
    padding: 50px ;
}

.nav-list a:hover {
    background-color: #555;
    color: #ff0;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins';
}

h1 {
    margin-bottom: 10px;
    font-size: large;
    
}
h2 {
    color: #ffd700;
    border-bottom: 2px solid #1e4e6d;
    padding-bottom: 10px;
    padding-top: 10px; 
}

.quicker{
    font-weight: 700;
    color: green;
}
main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    flex: 1;
}
#about-me {
    text-align: center;
    margin-top: 10px;
   
}   
.portrait {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
    padding: 20px;
}

.flag {
    float:left;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 100px;
    height: auto;
    padding: 20px;
    
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;    
    margin-bottom: 20px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#about-me {
    margin-right: 20px;
    flex: 2;
}

#zim {
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    margin: 0 auto;   
    color: #1e4e6d;
    border-bottom: 1px solid #1e4e6d;
}
#resources h2 {
    flex: 1;
    text-align: center;  
    padding: 10px;
}

.heading{

    background-color: #1e4e6d; 
    width: 100%; 
      
}
footer {
    background-color: #1e4e6d;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}


.para {
  text-align: justify; /* Ensures the text is aligned on both the left and right edges */
  margin: 10px 0; /* Adds consistent spacing above and below each paragraph */
  line-height: 1.6; /* Increases readability by adding space between lines */
  padding: 0 20px; /* Adds padding on the left and right sides */
  display: block;
  word-wrap: break-word; /* Ensures long words break if they exceed the container */
}
