@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');
:root {
    --primary-color: blue;
    --secondary-color: #2400a8;
    --text-color:black;
    --background-color: #f4f4f4;
}

body {
    font-family: "Roboto";
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0.5rem;
}

main {
    padding: 1rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.data, .weather {
    margin-top: 1rem;
    text-align: center;
}

.weather img {
    width: 10%;
    height: auto;
}


h2 {
    font-family: "Roboto";
    color: var(--secondary-color);
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .hero {
        grid-column: 1 / -1;
    }

    .weather h2::after {
        content: "⛅";
        margin-left: 0.5rem;
    }
}
/*
@media screen and ( max-width:100%)  {
    .weather , .data{
        display:overlay ;
    }
    
}
*/