@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
 
 .header {
    background-color: #4a0e4e;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    margin: 0;
    font-size: 24px;
   
}
.nav {
    display: flex;
    gap: 20px;
}
.nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.nav a:hover {
    background-color: rgb(184, 219, 57);
    color: #333;
}
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

h2{
    font-family: 'Poppins';
    text-align: center;
}

.temple-grid {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    gap: 20px;
    padding: 20px;
    
}

figure {
    width: 100%; /* or set a specific width */
    height: 100%; /* or set a specific height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/2;
}

figcaption {
    padding: 0.5rem;
    text-align: center;
}

footer {
    background-color: #4a0e4e;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    bottom: 0;
}